
.product__article {
    width: 665px;
    margin-bottom: 30px;
}

.tabs_list {
    display: table;
    table-layout: fixed;
    width: 100%;
}
.tabs_list li {
    background: url('../images/bg_delivery.jpg') 0 0 no-repeat;
    background-size: cover;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    position: relative;
}
.tabs_list li.is-active:after {
    border-color: #5a8e35 transparent transparent;
    border-style: solid;
    border-width: 8px 11.5px 0;
    bottom: -8px;
    content: "";
    display: block;
    height: 0;
    left: 50%;
    line-height: 0;
    margin-left: -11.5px;
    position: absolute;
    width: 0;
}
.tabs_list li a{
    position: relative;
    opacity: 1;
    color: #fff;
    display: block;
    font-family: "pf_din_text_comp_proregular";
    font-size: 14px;
    padding: 18px 0;
    text-transform: uppercase;
}
.tabs_list li.is-active a{
    background: #5a8e35;
}
.js-tab-cont {
    width: 612px;
    margin-top: 30px;
}
.js-tab-cont p {
    color: #64534e;
    line-height: 1.5;
    margin-bottom: 15px;
}
.delivery_time{
    padding: 16px 0; 
}
.t_time {
    width: 310px;
    overflow: hidden;    
    text-align: center;
    padding: 0 0 20px;
}
.t_time p {
    padding-right: 0;
}
.t_time_item {
    width: 155px;
    height: 125px;
    float: left;
    box-sizing: border-box;
    position: relative;
}
.t_time_img {
    height: 95px;
    position: relative;
}
.icon-time-1 {
    background: url('../images/time_a.png') 0 0 no-repeat;
    display: inline-block;
    width: 95px;
    height: 95px;
}
.icon-time-2 {
    background: url('../images/time_b.png') 0 0 no-repeat;
    display: inline-block;
    width: 95px;
    height: 95px;
}
.t_time_name {
    height: 30px;
    line-height: 30px;
}
.delivery_tariffs {
    margin-bottom: 30px;
}


table.delivery tr td {
    padding: 0 13px;
}
table.delivery p {
    padding-right: 0; 
}
table.delivery thead,
table.delivery tbody tr {
    border-bottom: 2px solid #e1dcd9;
}
table.delivery td:first-child {
    width: 160px;
}
table.delivery td {
    width: 167px; 
}
table.delivery td:last-child {
    width: 277px;
}
table.delivery tbody td {
    padding-top: 15px;    
    vertical-align: top;
    font-weight: normal;
}

.cust_list li {
    padding-left: 25px; 
    position: relative;
}
.cust_list li:before {
    content:"";
    display: block;
    width: 15px;
    height: 1px;
    background: #3f3231;
    position: absolute;
    left: 3px;
    top: 8px;
}
.trans {
    font-size: 0;
    margin-left: -4px;
}
.trans img {
    width: 200px;
    height: 120px;
    display: inline-block;
    margin-left: 4px;
    margin-bottom: 4px;
}
.box_info{
    margin-bottom: 63px;
}
div.slides {
    width: 340px;
    height: 220px;
    float: left;
    margin-right: 30px;
}
div.slides:after {
    content: "";
    clear: both;
    display: table;
}
.slides {
    position: relative;
}
.slides_list li {
    float: left;
    font-size: 0;
}
.slides .border {
    background: url('../images/border-small.png') no-repeat;
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.slides .pagination {
    bottom: 8px;
    height: 16px;
    left: 66px;
    position: absolute;
    width: 98px;
}
.slides .pagination .prev_btn {
    background: url("../images/slider_w.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 12px;
    left: 0;
    position: absolute;
    top: 0;
    width: 8px;
}
.slides .pagination .next_btn {
    background: url("../images/slider_w.png") no-repeat scroll -121px 0 rgba(0, 0, 0, 0);
    display: block;
    height: 12px;
    position: absolute;
    right: 0;
    top: 0;
    width: 8px;
}
.slides .pagin {
    bottom: 0;
    height: 16px;
    left: 7px;
    position: absolute;
    width: 98px;
}
.slides .pagin ul {
    padding: 2px 20px;
}
.slides .pagin li {
    float: left;
    margin-left: 12px;
}
.slides .pagin li:first-child {
    margin-left: 0;
}
.slides .pagin li a {
    background: url("../images/slider_w.png") no-repeat scroll -21px -2px rgba(0, 0, 0, 0);
    display: block;
    height: 8px;
    width: 8px;
}
.slides .pagin li a:hover {
    background: url("../images/slider_w.png") no-repeat scroll -81px -2px rgba(0, 0, 0, 0);
    display: block;
    height: 8px;
    width: 8px;
}
.slides .pagin li.selected a {
    background: url("../images/slider_w.png") no-repeat scroll -41px -2px rgba(0, 0, 0, 0);
    display: block;
    height: 8px;
    width: 8px;
}
.information {
    display: inline-block;
}
.information h3 {
    margin-bottom: 5px;
}
.information p {
    margin-bottom: 25px;
}
.phone {
    font-size: 20px;
    color: #3f3231;
    text-transform: uppercase;
    padding-left: 30px;
    position: relative;
}
.phone:before {
    content: "";
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    background: url('../images/tel_icon.png') no-repeat;
    left: 0;
    top: 8px;
}
.mail {
    margin-top: 15px;
}
.mail a {
    font-size: 12px;
    color: #60221a;
    position: relative;
    padding-left: 30px;
    display: inline-block;
}
.mail a:before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 14px;
    background: url('../images/mail.png') no-repeat;
    left: 0;
    top: 2px;
}
.box_attention {
    background: #ffffff;
    padding: 30px 37px;
    margin-bottom: 64px;
}
.cust_list.attent {
    margin-top: 15px;
    display: inline-block;
}
.cust_list.attent li {
    display: inline-block;
    margin-left: 40px;
    vertical-align: top;
    width: 40%;
}
.cust_list.attent li:first-child {
    margin-left: 0;
}

.box_map {
    width: 607px;
    height: 279px;
    position: relative;
}
#map-canvas {
    width: 100%;
    height: 279px;
}
table.skid {
    margin-bottom: 10px;
}
table.skid tr td {
    padding: 0 13px 13px;
}
table.skid p {
    padding-right: 0; 
}
table.skid thead,
table.skid tbody tr {
    border-bottom: 2px solid #e1dcd9;
}
table.skid td:first-child {
    width: 100px;
}
table.skid td {
    width: 350px; 
}
table.skid td:last-child {
    width: 160px;
}
table.skid tbody td {
    padding-top: 15px;    
    vertical-align: top;
    font-weight: normal;
}

.numb {
    counter-reset: li;
    list-style: outside none none;
    padding: 0;
    margin-bottom: 31px;
}
.numb li {
    box-sizing: border-box;
    display: inline-block;
    float: none;
    margin-bottom: 0;
    padding-left: 20px;
    vertical-align: top;
    position: relative;
}
.numb li:before {
    content: counter(li, decimal);
    counter-increment: li;
    height: 0;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 10px;
}
.numb li p {
    margin-bottom: 0;
}
.memo {
    width: 100%;
    background: url('../images/memo-bg.png') repeat-y;
    background-position: center;
    background-color: #fff;    
    height: 100%;
    display: inline-block;
}
.memo .col50 {
    width: 50%;
    float: left;
    padding: 35px 20px; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
.memo .col50 .numb {
    margin-bottom: 0;
}
